* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("tech.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a {
    text-decoration: none;
    font-size: 0.7rem;
    color: black;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0px;
    margin: 0;
    padding: 2px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.938);
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
}

.border {
    border-left: 1vh solid rgb(13, 230, 245);
    border-right: 1vh solid rgb(13, 230, 245);
    border-radius: 10px;
}

.greeting {
    
    margin: 12% 20% 15% 20%;
    padding: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    position:relative;
    animation: move 5s;
    transition: padding 1s;
}

@keyframes move {
    0% {left: -100%;}
    50% {left: -50%}
    75% {left: -25%}
    100% {left: 0%}
}

p {
    font-size: 1.05rem;
}

.about {
    margin: 10%;
    padding: 5%;
}

td {
    padding:5px 20px;
}

.experience {
    margin: 10% 10% 20% 10%;
    padding: 5%;
}

#work-desc {
    font-size: 1.5rem;
}

.project {
    margin: 10%;
    padding: 5%;
}

.project-gallery iframe {
    display: block;
    margin: 0 0 10% 5%;
    padding: 0;
}

iframe {
    background-color: #ffffff;
}

.contact {
    margin: 12% 20% 15% 20%;
    padding: 3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
}

button {
    margin:0;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(13, 230, 245);
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 58, 247); 
    color: rgb(255, 255, 255);
}

a:hover {
    background-color: rgb(0, 58, 247); 
    color: rgb(255, 255, 255);
}

footer {
    text-align: center;
    padding: 5px;
    background-color: black;
}

@media only screen and (max-width: 780px) {
    .greeting {
        margin: 20% 20% 15% 20%;
        padding: 3%;
    }

    p {
        font-size: 1rem;
    }

    .about {
        margin: 10% 2%;
        padding: 8% 0;
    }

    .experience {
        margin: 10% 2% 20% 2%;
        padding: 8% 0;
    }

    .project {
        margin: 10% 2%;
        padding: 8% 0;
    }

    iframe {
        width: 90%;
    }

    .contact {
        margin: 10% 5%;
        padding: 8% 10%;
    }
}

@media only screen and (max-width: 650px)  {
    .navbar {
        display:none;
    }
    
    .greeting {
        margin: 20% 10% 20% 10%;
        padding: 3%;
    }

    p, td, ul, li {
        font-size: 0.8rem;
    }


}